@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  font-family: "Nova Square", cursive;
}

div h1 {
  font-size: 5rem;
  /* color: white; */
  margin-bottom: 5rem;
  width: 100vw;
  text-align: center;
  margin-top: 15rem;
  color: azure;
  text-shadow: 5px 5px 5px rgb(156, 187, 127);;
}
.btn {
  font-family: "Nova Square";
  width: 9rem;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
 
    border: 2px solid aqua;
    border-radius: 20px;
}

.btn:hover {
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 20px #2cbf0b,
    3px 2px 20px #03e9f4;
    cursor: pointer;
}



.container {
  width: 100vw;
  height: 100vh;

  margin: auto;
}
#text,
#text1 {
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: black;
  color: white;
}


#myVideo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

